<div class="container-xl">
    <div class="row text-center">
        <div class="col">
            <a class="btn btn-info" type="button" href="/courses">Courses</a>
        </div>
        <div class="col">
            <a class="btn btn-info" type="button" href="/tutors">Tutors</a>
        </div>
        <div class="col">
            <a class="btn btn-info" type="button" href="/invoices">Invoices</a>
        </div>
    </div>
</div>