<tr>
    <td><a href="/node/{{ fields.nid.content }}">View</a></td>
    <td>{{ fields.field_invoice_date.content }}</td>
    <td>{{ fields.field_tutor.content }}</td>
    <td>{{ fields.field_fee.content }}</td>
</tr>