<div class="mt-4">
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Code</th>
      <th>Type/Mode</th>
      <th>Variant</th>
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    {{ row }}
  {% endfor %}
  </tbody>
</table>
</div>
